@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?abvaj2');
  src:  url('fonts/icomoon.eot?abvaj2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?abvaj2') format('truetype'),
    url('../fonts/icomoon.woff?abvaj2') format('woff'),
    url('../fonts/icomoon.svg?abvaj2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-point-right:before {
  content: "\ea04";
  line-height: 30px;
  color: black;
}
